@font-face {
    font-family: '20 Kopeek';
    src: url('../fonts/20Kopeek-Book.eot');
    src: url('../fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/20Kopeek-Book.woff2') format('woff2'),
    url('../fonts/20Kopeek-Book.woff') format('woff'),
    url('../fonts/20Kopeek-Book.ttf') format('truetype'),
    url('../fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    position: absolute;
    width: 100%;
}

.container {
    margin: auto;
    max-width: 1110px;
}

.container.d-flex {
    display: flex;
    align-items: center;
    margin-top: 32px;
}

.logo {
    display: flex;

}

.link {
    margin-right: 22px;
}

.w-50 {
    width: 50%;
}

.header-text {
    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 15px;
    color: #FFFFFF;
    width: 220px;

}

.menu {
    display: flex;
    align-items: center;

}

.navigation {
    margin: auto;
}

.phone-number {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 7px 27px 7px 33px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    margin-right: 22px;


}

.fb {
    margin-right: 22px;
}

.section {
    background-image: url("../images/bg-img.png");
    background-size: cover;
    height: 100vh;
}

.order {
    margin: auto;
    max-width: 1110px;
    padding-top: 269px;
}

.order_head {
    font-family: "20 Kopeek Book", sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: #181818;
    line-height: 45px;
    max-width: 581px;
    margin-bottom: 30px;
}

.dev {
    font-family: '20 Kopeek';
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 65px;
}

.portfolio {
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: #FFFFFF;
    margin-right: 20px;
    padding: 23px 47px;
}

.request {
    text-decoration: none;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: #FFFFFF;
    padding: 23px 47px;
}

.link-text {
    color: #181818;
    font-size: 18px;
    font-weight: 400;
}

.container2 {
    margin: auto;
    max-width: 1110px;
    padding-top: 70px;
    padding-bottom: 133px;

}

.container2-title {
    margin-bottom: 15px;
    font-family: '20 Kopeek';
    font-size: 38px;
    font-weight: 400;
    line-height: 110%;
}

.container2-body {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin-bottom: 141px;
}

.jar {
    margin-right: 30px;
}

.con2-body-txt {
    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 18px;
    max-width: 445px;
    line-height: 26px;
}

.container2-title2 {
    margin-bottom: 40px;

}

.container2-title2-h2 {
    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 50px;
}

.items-5 {
    display: flex;
    align-items: baseline;
}

.item-12345 {

    font-family: '20 Kopeek';
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}

.items-5-img {
    margin-right: 8px;
}

.item-5-1 {
    margin-right: 67px;
    max-width: 83px;
}

.item-5-2 {
    margin-right: 43px;
    max-width: 110px;
}

.item-5-3 {
    margin-right: 28px;
    max-width: 110px;
}

.item-5-4 {
    margin-right: 90px;
}

.item-5-5 {
    max-width: 280px;
}

.item-5-5-1 {
    max-width: 120px;

}

.item-5-5-p {
    margin-bottom: 120px;
    font-size: 15px;
}

.price {
    margin-bottom: 15px;
}

.price-h2 {
    font-family: '20 Kopeek Book';
    text-align: right;
    font-weight: 400;
    font-size: 38px;
    margin: 0;
}

.price-container {
    display: flex;
    justify-content: space-between;
}

.price-item1 {
    display: inline-block;
    max-width: 396px;
    font-family: "20 Kopeek";
}


.price-item2 {
    max-width: 634px;
}

.price-p {
    padding: 0 10px;
    font-family: "20 Kopeek";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.price-p:last-child {
    background-color: #2B59C3;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px;

}

.project-list {
    max-width: 1110px;
    margin: auto;
    font-family: "20 Kopeek";
    padding-bottom: 123px;
}

.project-1-item {
    display: flex;
    align-items: center;

}

.amperia {
    font-weight: 400;
    font-size: 55px;
    margin-right: 136px;
}

.amperia_project {
    font-weight: 400;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 23px 47px;
    text-decoration: none;
    color: #181818;
}

.amperia_brand {
    position: relative;
    bottom: 70px;
    font-weight: 400;
    font-size: 18px;
    max-width: 233px;
    margin-bottom: 100px;
    color: #181818;
}

.amperia_brand:last-of-type {
    margin-bottom: 0;
}

.more {
    display: flex;
    justify-content: center;
}

.moretxt {
    font-weight: 400;
    font-size: 26px;
    border: 1px solid black;
    border-radius: 40px;
    padding: 23px 47px;
    background-color: #2B59C3;
    color: #FFFFFF;
    margin-right: 65px;
    text-decoration: none;
}

.guideline {
    max-width: 1110px;
    margin: auto;
    font-family: "20 Kopeek";
}

.guideline-h {
    font-weight: 400;
    font-size: 38px;
    color: #181818;
    margin-bottom: 15px;
}

.guideline-content {
    display: flex;
    max-width: 1110px;
}

.content-item-1 {
    max-width: 635px;
    margin-right: 30px;
}


.content-item-2 {
    max-width: 406px;
    font-weight: 400;
    font-size: 18px;
    background-color: #FFFFFF;
    line-height: 140%;
}

.ci-2-txt-1 {
    background-color: #2B59C3;
    padding: 11px 39px 18px 14px;
    color: #FFFFFF;
    position: relative;
    right: 14px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.ci-2-h {
    margin-top: 0;
    font-size: 26px;
    font-weight: 400;
}

.ci-2-txt-2 {
    margin-bottom: 77px;

}

guideline-h.mb {
    margin-bottom: 11px;
}

.guideline-h.fs {
    font-size: 26px;
    margin-bottom: 27px;
}

.form {
    margin-bottom: 44px;
}

.form-input {
    padding: 23px 149px 23px 29px;
    border: 1px solid #181818;
    border-radius: 10px;
    margin-right: 30px;
}

.button {
    padding: 23px 47px;
    background-color: #2B59C3;
    color: #FFFFFF;
    border-radius: 40px;
    border: none;
}

.terms {
    color: #2B59C3;
}